* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 300px;
}

.header h1 {
  text-align: center;
}

.trybewarts-login {
  display: flex;
}

main,
#evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column wrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: baseline;

}

#evaluation-form input {
  width: 250px;
}

#trybewarts-forms-logo {
  height: 500px;
  text-align: left;
}
